.walletButton {
	border: none;
	margin: 5px;
	padding: 5px 20px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	color: var(--brand-black);
	display: flex;
	flex-direction: row;
	align-items: center;
}
.walletButton img {
	margin-right: 10px;
	border-radius: 5px;
}
.walletButton:hover,
.walletButton:active,
.walletButton:focus,
.walletButton:disabled {
	outline: none;
	box-shadow: none;
	background-color: lightgray;
	color: white;
}
