.markdown {
  font-family: "PT Root UI";
  max-width: 100%;
  padding: 1em 0;
}

.markdown > * {
  padding-bottom: 1em;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: bold;
  padding-bottom: 2em;
}

.markdown h1 {
  font-size: 1.7em;
  margin-top: 1em;
  font-weight: bold;
}

.markdown li,
.markdown ol {
  /* margin-block-start: 1em; */
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1em;
  list-style-position: inside;
}

/* sx={{
  ".markdown p": { py: 4 },
  ".markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5":
    { fontWeight: "bold", py: 4 },
}} */

.markdown h2 {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: bold;
}

.markdown h3 {
  font-weight: bold;
  font-size: 1.3em;
}

.markdown p {
  font-size: 1em;
  max-width: 100%;
}

.markdown img {
  max-width: 100%;
  height: auto;
}
